doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Filter Student
    body 
        div.text-center
        form(method="POST" action="/fstudent/filter_student")
            h1(class=h1Classes) Please Fill out the fields to filter students

            //-input student id
            label Student ID: 
            input(type="text" name="id" autofocus)
            br
            br
            //-input student name
            label Name: 
            input(type="text" name="name" autofocus)
            br
            br
            //-input student department
            label Department: 
            input(type="text" name="de" autofocus)
            br
            br
            //- select ongoing courses
            lable Ongoing Courses:
                each onid in onids
                    input(type="checkbox" id=onid.indexOf() name='on' value=onid)
                    lable #{onid}
            br
            br
            //- select ongoing courses
            lable Completed Courses:
                each comid in comids
                    input(type="checkbox" name='com' value=comid)
                    lable #{comid}
            br
            br
            //-Submit button
            input(type="submit" value="submit")